[alias]
    hist = log --graph --color --date=short --pretty=format:'%Cred%h%Creset %C(bold green)%ad%Creset | %s%C(yellow)%d%Creset %C(bold blue)[%aN]'
    co = checkout
    ci = commit
    st = status
    br = branch
    type = cat-file -t
    dump = cat-file -p
[user]
	email = andyfish76@gmail.com
	name = Andy
[core]
    editor = gedit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[filesystem "Ubuntu|11.0.4|/dev/nvme0n1p5"]
	timestampResolution = 11000 nanoseconds
	minRacyThreshold = 4310 microseconds
[filesystem "Ubuntu|11.0.5-ea|/dev/nvme0n1p5"]
	timestampResolution = 6000 nanoseconds
	minRacyThreshold = 6593 microseconds
